body {
    margin: 0;
    padding: 0;
    background: #14495e;
}

.face {
    align-items: center;
    width: auto;
    margin-left: 440px;
}

.eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 20px;
}

.eye-1 {
    width: 200px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    border-color: black;
    position: relative;
    overflow: hidden;
    transform: rotate(18deg);
    margin-right: 80px;
    margin-left: -80px;
}

.eye-2 {
    width: 200px;
    height: 120px;
    background: #fff;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    border-color: black;
    position: relative;
    overflow: hidden;
    transform: rotate(-18deg);
    margin-right: -80px;
    margin-left: 80px;
}

.ball {
    width: 80px;
    height: 80px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.ball>img {
    height: 80px;
    width: 80px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}